p {
    margin-bottom: 0;
}

.line {
    border-top: #222222 solid 2px;
}

.footer {
    background-color: #E09F3E;
    color: #222222;
    margin-top: 2em;
    height: fit-content;
    padding-bottom: 10px;
}

.text{
    color: #222222;
}

.inside {
    padding-left: 20px;
    padding-right: 20px;
}

.col {
    align-items: center;
    align-content: center;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 0;
    padding-left: 20px;
}

.logo {
    min-width: 100px;
    min-height: 95px;
    padding-top: 15px;
}