html {
  height: 100%;
  font-family: 'Questrial', sans-serif;
}
body {
  position: relative;
  min-height: 100%;
}
.layout{
  margin: 0 auto;
  padding: auto 100px;
}
.menu-review{
  padding: auto 100px;
}

.jumbotron{
  color: "white";
  border-radius: 0;
  height: "30em";
  padding: "5em";
}

.footer-center h1{
  color: #E09F3E;
  text-align: center;
}

.footer-center{
  background: #222222;
  padding: 10px;
}

.center-foot li{
  text-align: center;
  list-style: none !important;
  margin: 5px;
}

.right-foot {
  text-align: center;
  margin: 20px 0;
}

.left-foot p{
  color: whitesmoke;
}

h2 {
  margin-top: 50px;
  padding-left: 15px;
  text-align:center;
}
.carouselCard {
width: 720px;
height: 480px;
}

.right-foot a{
  margin: 10px;
  font-size: 50px;
}

.right-foot .fa-facebook-square{
  color: rgb(25, 55, 226);
}

.right-foot .fa-twitter-square {
  color: purple;
}

.right-foot .fa-instagram {
  color: rgb(226, 77, 206);
}

.logo {
  width: 30%;
  margin-left: 90px;
}

@media screen and (min-width:640px){
  .footer-center{
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width:960px) {
  .footer-center {
    display: flex;
    justify-content: space-evenly;
  }
}

.kadobody {
  background-color: #222222;
  color: whitesmoke;
}

.mb-4 {
  color: whitesmoke;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
